@font-face{
    font-family: "Panton", sans-serif !important;
    src: url("../fonts/Panton-LightCaps.ttf") format("truetype");
  }

  html, body, video{
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

video{
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.jumbotron {
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

body {
    font-size: 16px !important;
    font-weight: normal !important;
}

.nav-item{
        letter-spacing: 1px !important;
        padding: 0 11px !important; 
        border-left: solid #95CB44;
}

.nav-item:last-child{
    border-right: solid #95CB44;
}

footer{
    background-color: #003A2C;
    align-items: self-end;
}

.indexButton{
    /* color: #fff; */
    background-color: #95CB44;
    border-color: #95CB44;
}

.dropdown-item {
    color: rgba(0,0,0,.55) !important; 
}

.dropdown-menu > li > a:hover {
    background-color: #95CB44;
    color: white !important; 
}

.dropdown-menu[data-bs-popper] {
    left: -2rem !important;
}

.btn-secondary {
    background-color: #008037 !important;
    border-color: #008037 !important;
}

.dropdown{
    display: flex !important;
    align-items: center !important;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

#logo{
    width: auto;
    height: 133px;
}

.container-fluid{
    justify-content: center !important; 
}

@media only screen and (min-width: 1199.98px) { 
    .navbar-brand {
        margin-right: 15rem !important;
        padding-bottom: 0.1rem !important;
    } 
 }

.navbar-collapse {
    flex-grow: 0 !important;
}
#indexWelcomeMessage{
    background-color: #95CB44;
}
.navbar{
    padding-bottom: 0rem !important;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.container div h3{
    margin-bottom: 1rem;
}

.divfootercontactus{
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.circle-icon {
    background: white;
    padding:5px;
    border-radius: 50%;
}

.divcontactus{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divcontactus div{
    display: flex;
    flex-direction: row;
}
.divcontactus div div{
    display: flex;
    flex-direction: column;
}

.divsocialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copyright{
    background-color: #95CB44;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
    text-align: center;
}

.copyright p{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 1rem;
}

.bx{
    color: #008037;
}


/* inicia styles sección servicios cabecera y tours  */

.carouselgrid{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 570px;
}

.carouselimg{
    height: 500px;
}

@media (min-width: 700px) {
    .carouselgrid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 450px;
    }
}
.carouselgrid{
    height: 390px;
}

.carouselimg{
    height: 350px;
}


@media (min-width:400px) {
    .carouselgrid{
        grid-template-columns: repeat(1, 1fr);
/*         grid-template-rows: 350px; */
    }
}
.carouselgrid{
    height: 370px;
}

.carouselimg{
    height: 350px;
}



/* Inicia Galería */
.tousrservicios{

text-align: center;
margin: 50px;
font-size: medium;
}

.h2galeria {
    padding: 50px;
    margin-top: 30px;
    color: orange;
}
.gallery-container {
    margin: auto;
    display: flex;
    width: 94vw;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100px;
    align-items: center;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 320px;
    padding: 10px;
    grid-gap: 5px;
}

.gallery__item {
    position: relative;

}

.gallery__img {
width: 300px;
height: 300px;
margin-top: 30px;
margin-bottom: 30px;
object-fit: cover;
cursor: pointer;
}

.gallery__item:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}

.gallery__item:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(7) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}


@media (min-width:600px) {
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
.gallery__item:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}

.gallery__item:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(7) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}


@media (min-width:760px) {
    .gallery-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
.gallery__item:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}

.gallery__item:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(7) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}

@media (min-width:900px) {
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
.gallery__item:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}

.gallery__item:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(7) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}
.gallery__item:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}


.gallery__title {
    font-size: medium;
    position: absolute;
    top: 0px;
    color: white;
    background-color: #95CB44;
    width: 40%;
    margin-top: 15%;
    padding: 1px;
}
.capa {

    width: 320px;
    height: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: cover;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    background: rgba(149, 203, 68,100);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

.gallery-container :hover > .capa {
    opacity: 1;
    visibility: visible;
}
.h4servicios {
    margin-top: 100px;
    font-size: small;

}
.botonservicios {
    margin-top: 40px;
    background-color: #95CB44;
    text-align: center;
    font-size: medium;
    color: white;
    border-color: white;
    text-decoration-color: white;
    cursor: pointer;
}

/* estios modal  */


.botonmodal {
    background-color: #95CB44;

}
.botonmodal label{
    padding: 10px 15px;
    background-color: #95CB44;
    color: white;
    border: 2px  white  solid;
    cursor: pointer;
    border-radius: 3px;
}

.container-modal {
    width: 100%;
    height: 100%;
/*     position: fixed; */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
/*     display: none; */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#botonmodal:checked ~ .contenidomodal{
display: flex;
}

.contenidomodal {
    width: 100%;
    max-width: 400%;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
}
/* terminana estilos modal */

/* termina Galería  */


/* itermina Styles sección de servicios galería  */


/* inicia styles sección contacto  */

.visitanteh3{
    color: #95CB44;
    text-align: center;
    font-size:xx-large;
    margin-top: 1rem;
}

.visitanteP{
    color: rgb(144, 140, 140);
}

#cabeceraColor{
    color: #008037;
}


/* termina styles sección contacto */

/* Inicia style nostros*/

.cabeceracontenedor{
    display: flex;
}
.cabecerah2{
    position:absolute;
    top: 0px;
    color: white;
    background-color: #95CB44;
    margin-top: 2rem !important;
    padding: 1px;
    padding-left: 1rem;
    padding-right: 0.8rem;
}

.carousel-inner {
    max-height: 500px !important;
}
/* Termina style nostros*/

/*Index styles*/

.botonindex {
    margin-top: 40px;
    background-color: #003A2C;
    text-align: center;
    font-size: medium;
    border: outset #95CB44 2px;
    border-radius: 7px;
    padding: 20px;
}
.botonindex a {
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.5rem; 
    font-weight: 400;
}
.card{
    justify-content: center !important;
}
.botonindex a:hover{
    color: white;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,auto);
    width: 100%;
    height: 100%;
}

#overlay{
    grid-column: 1/9;
    grid-row: 1/9;
    background-color: #003A2C;
    opacity: 50%;
}

#indexMsg{
    grid-column: 2/8;
    grid-row: 5/8;
    width: 100%;
    z-index: 10;
    margin-top: 1rem;
}

#indexMsg p{
    color: white;
    border: none;
    text-decoration: none;
}

