@font-face {
    font-family: "Panton", sans-serif !important;
    src: url("../fonts/Panton-LightCaps.ttf") format("truetype");
}

html,
body,
video {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

video {
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.jumbotron {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    font-size: 16px !important;
    font-weight: normal !important;
}



.nav-item {
    letter-spacing: 1px !important;
    padding: 0 11px !important;
    border-left: solid #95CB44;
    border-right: solid #95CB44;
}

footer {
    background-color: #003A2C;
    align-items: self-end;
}

.indexButton {
    /* color: #fff; */
    background-color: #95CB44;
    border-color: #95CB44;
}

.dropdown-item {
    color: rgba(0, 0, 0, .55) !important;
}

.dropdown-menu>li>a:hover {
    background-color: #95CB44;
    color: white !important;
}

.btn-secondary {
    background-color: #008037 !important;
    border-color: #008037 !important;
}

.dropdown {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

#logo {
    width: auto;
    height: 133px;
}

#logo2 {
    width: auto;
    height: 100px;
    margin-bottom: 0.5rem;
}

.container-fluid {
    justify-content: center !important;
    margin-bottom: 1rem;
}


.nav-link div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.socialmedia {
    padding: 1vw !important;
}

.navP {
    margin-bottom: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}

@media only screen and (min-width: 992px) {
    .navbar-brand {
        padding-bottom: 0.1rem !important;
    }

    .nav-item:last-child,
    .nav-item:nth-child(2),
    .nav-item:nth-child(3) {
        border-right: solid #95CB44;
        border-left: none;
    }

    .container-fluid {
        margin-bottom: 0;
    }

    .navP {
        margin-bottom: 1rem !important;
    }

    .nav-link div {
        display: block !important;
    }
}

@media (min-width: 1117px) {
    .navbar-brand {
        margin-right: 15rem !important;
        padding-bottom: 0.1rem !important;
    }

    .politicas {
        flex-direction: row !important;
    }
}

@media (min-width: 1094px) {
    .navbar-expand-lg .navbar-toggler {
        display: none !important;
    }
}

.navbar-collapse {
    flex-grow: 0 !important;
}

#indexWelcomeMessage {
    background-color: #95CB44;
}

.navbar {
    padding-bottom: 0rem !important;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.container div h3 {
    margin-bottom: 1rem;
}

.divfootercontactus {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.circle-icon {
    background: white;
    padding: 5px;
    border-radius: 50%;
}

.socialmediacircle {
    background: white;
    padding: 5px;
    border-radius: 50%;
    border: solid #95CB44 1px;
}

.divcontactus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divcontactus div {
    display: flex;
    flex-direction: row;
}

.divcontactus div div {
    display: flex;
    flex-direction: column;
}

.divsocialmedia {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 999;
}

.btn-whatsapp {
    display: block;

}

.copyright {
    background-color: #95CB44;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
    text-align: center;
}

.copyright p {
    --bs-text-opacity: 1;
    color: white;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 1rem;
}

.bx {
    color: #008037;
}

/* Inicia Galería */
.tousrservicios {

    text-align: center;
    margin: 50px;
    font-size: medium;
}

.h2galeria {
    padding: 50px;
    margin-top: 30px;
    color: #008037;
}

.gallerySection{
    display: flex;
    justify-content: center;
}

.gallery-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.gallery__item {
    flex: 1 0 21%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    justify-content: space-around;
    position: relative;
    margin: 10px; 
}


.gallery__img {
    grid-column: 2/8;
    grid-row: 2/8;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.gallery__title {
    grid-column: 2/8;
    grid-row: 2;
    font-size: medium;
    position: absolute;
    margin-right:auto;
    color: white;
    background-color: #95CB44;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15%;
}

.gallery__title_english{
    grid-column: 2/8;
    grid-row: 3;
    font-size: medium;
    position: absolute;
    margin-right:auto;
    color: white;
    background-color: orange;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15%;
}

.botonservicios {
    margin-top: 40px;
    background-color: #003A2C;
    text-align: center;
    font-size: medium;
    color: white;
    border: outset #95CB44 2px;
    border-radius: 7px;
    text-decoration-color: white;
    cursor: pointer;
    padding: 10px;
}

.h4servicios {
    margin-top: 100px;
    font-size: small;
}



.botonindex a {
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

/* termina Galería  */


/* itermina Styles sección de servicios galería  */


/* inicia styles sección contacto  */

.visitanteh3 {
    color: #95CB44;
    text-align: center;
    font-size: xx-large;
    margin-top: 1rem;
}

.visitanteP {
    color: rgb(144, 140, 140);
}

#cabeceraColor {
    color: #008037;
}


/* termina styles sección contacto */

/* Inicia style nostros*/

.cabeceracontenedor {
    display: flex;
}

.cabecerah2 {
    position: absolute;
    top: 0px;
    color: white;
    background-color: #95CB44;
    margin-top: 2rem !important;
    padding: 1px;
    padding-left: 1rem;
    padding-right: 0.8rem;
}

.carousel-inner {
    max-height: 500px !important;
}

/* Termina style nostros*/

/*Index styles*/

.botonindex {
    margin-top: 40px;
    background-color: #003A2C;
    text-align: center;
    font-size: medium;
    border: outset #95CB44 2px;
    border-radius: 7px;
    padding: 20px;
    margin: 20px;
}

.botonindex a {
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.card {
    justify-content: center !important;
}

.botonindex a:hover {
    color: white;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    width: 100%;
    height: 100%;
}

#overlay {
    grid-column: 1/9;
    grid-row: 1/9;
    background-color: #003A2C;
    opacity: 50%;
}

#indexMsg {
    grid-column: 2/8;
    grid-row: 5/8;
    width: 100%;
    z-index: 10;
    margin-top: 1rem;
}

#indexMsg p {
    color: white;
    border: none;
    text-decoration: none;
}

input:-internal-autofill-selected {
    color: #003A2C !important;
}

.form-control {
    background-color: rgb(149, 203, 68, 15%) !important;
    border: 1px solid #003A2C !important;
    color: #003A2C !important;
}

.form-control:focus {
    border-color: #95CB44 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #95CB44 !important;
}

.form-control::selection {
    color: white;
    background-color: #95CB44;
}

#lema {
    color: #008037;
    font-size: x-large;
}

#p {
    color: #008037;
    font-size: large;
}

#CIYH {
    color: #95CB44;
    font-size: xx-large;
}

.politicas {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.politicas a{
    text-align: center;
}


/* The Modal (background) */
.modal {
    background-color: rgba(149, 203, 68,0.5);
  }
  
.modal-header .btn-close {
     margin: 0 !important;
     position: relative;
}

.modal-header {
    justify-content: center !important;
}

.modal-footer {
    padding: 0 !important;
    align-items: center;
    border-top: 0 !important;
}

.modal-footer>* {
    margin: 0.5rem !important;
}

.capa {
    grid-column: 2/8;
    grid-row: 2/8;
    width: 300px;
    height: 300px;
    position: absolute;
    color: white;
    text-align: center;
    background: rgba(149, 203, 68, 100);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

.gallery-container :hover>.capa {
    opacity: 1;
    visibility: visible;
}


/* modal */
.swal2-popup {
    padding: 0 !important;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #003A2C !important;
    font-weight: 300 !important;
}

.swal2-title {
    color: #003A2C !important;
}

.swal2-styled.swal2-confirm {
    background-color: #003A2C;
    text-align: center;
    font-size: medium;
    color: white;
    border: outset #95CB44 2px !important;
    border-radius: 7px;
    text-decoration-color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 300 !important;
    box-shadow: none !important;
}

.swal2-actions {
    margin: 0;
}